.TodoItem {
  width: 100%;
  min-height: 58px;
  display: flex;
  background-color: white;
  border-top: 1px solid #f1e2e2;
}

.iconHolder {
  width: 58px;
  min-height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

}
.iconHolder img {
  color: rgba(175, 47, 47, 0.15);

}
.TodoItem__todo {
  min-height: 58px;
  width: 434px;
  display: flex;
  align-items: center;
}

.todo__text {
  width:100%;
  text-overflow: ellipsis;
  margin: auto 16px;
  font-size: x-large;
  white-space: pre;
  /* overflow-x: scroll */
  text-align: start;
}
